USE [app_impresiones]
GO
/****** Object:  Table [dbo].[carrito_item]    Script Date: 5/04/2026 6:36:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carrito_item](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_producto] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio_unitario] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producto]    Script Date: 5/04/2026 6:36:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[descripcion] [varchar](500) NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[imagen_url] [varchar](255) NULL,
	[stock] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 5/04/2026 6:36:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[rol] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[carrito_item] ON 

INSERT [dbo].[carrito_item] ([id], [id_producto], [id_usuario], [cantidad], [precio_unitario]) VALUES (1, 3, 1, 1, CAST(18.00 AS Decimal(10, 2)))
INSERT [dbo].[carrito_item] ([id], [id_producto], [id_usuario], [cantidad], [precio_unitario]) VALUES (2, 2, 1, 1, CAST(4.99 AS Decimal(10, 2)))
INSERT [dbo].[carrito_item] ([id], [id_producto], [id_usuario], [cantidad], [precio_unitario]) VALUES (3, 1, 1, 1, CAST(12.50 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[carrito_item] OFF
GO
SET IDENTITY_INSERT [dbo].[producto] ON 

INSERT [dbo].[producto] ([id], [nombre], [descripcion], [precio], [imagen_url], [stock]) VALUES (1, N'Taza Personalizada', N'Taza de cerámica blanca con impresión full color.', CAST(12.50 AS Decimal(10, 2)), N'https://images.unsplash.com/photo-1594867785489-0a3f55e779a1?w=600', 50)
INSERT [dbo].[producto] ([id], [nombre], [descripcion], [precio], [imagen_url], [stock]) VALUES (2, N'Llavero Acrílico', N'Llavero de acrílico con logo a dos caras.', CAST(4.99 AS Decimal(10, 2)), N'https://images.unsplash.com/photo-1741254720220-5fec5d24b546?w=600', 120)
INSERT [dbo].[producto] ([id], [nombre], [descripcion], [precio], [imagen_url], [stock]) VALUES (3, N'Tarjeta de Presentación', N'Paquete de 100 tarjetas acabado mate.', CAST(18.00 AS Decimal(10, 2)), N'https://plus.unsplash.com/premium_photo-1773779250289-43b7f5d5f5e6?w=600', 80)
SET IDENTITY_INSERT [dbo].[producto] OFF
GO
SET IDENTITY_INSERT [dbo].[usuario] ON 

INSERT [dbo].[usuario] ([id], [nombre], [email], [password], [rol]) VALUES (1, N'Erika de Prueba', N'erika@gmail.com', N'1234', N'admin')
SET IDENTITY_INSERT [dbo].[usuario] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__usuario__AB6E616452A790D7]    Script Date: 5/04/2026 6:36:38 p. m. ******/
ALTER TABLE [dbo].[usuario] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[producto] ADD  DEFAULT ((0)) FOR [stock]
GO
ALTER TABLE [dbo].[usuario] ADD  DEFAULT ('cliente') FOR [rol]
GO
ALTER TABLE [dbo].[carrito_item]  WITH CHECK ADD FOREIGN KEY([id_producto])
REFERENCES [dbo].[producto] ([id])
GO
ALTER TABLE [dbo].[carrito_item]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuario] ([id])
GO
